.carousel-container {
  position: relative;
  height: 500px;
  overflow: hidden;

  img {
    display: none;

  }

  .dots-container {
    padding: 10px;
    width: 100px;
    position: absolute;
    top: 30px;
    right: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .circle {
      border-radius: 50%;
      width: 15px;
      height: 15px;
      background-color: $blue;
      display: inline-block;
      cursor: pointer;

      &.active {
        border: 2px solid $red;
      }
    }
  }
}