.home {
  padding: 40px;
  margin: 0 auto;

  .well {
    display: flex;
    align-items : flex-start;
    justify-content: space-around;

    .logo-container-mobile {
      display: none;
    }

    .carousel-container {
      width: 50%;
      position: relative;
      height: 700px;
      overflow: hidden;

      .photo-container {
        background-image: url("https://s3-us-west-1.amazonaws.com/children-of-mexico/DSC02873.JPG");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        display: block;
        height: 700px;
        width: 100%;

        img {
          display: none;
        }
      }

      .dots-container {
        padding: 10px;
        width: 150px;
        position: absolute;
        top: 30px;
        right: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    .welcome-container {
      width: 45%;

      .logo-container {
        padding: 20px 0;
        text-align: center;
        // margin-bottom: 20px;

        img {
          height: 220px;
        }
      }
    }
  }

  @include media-query($tablet) {
    padding: 25px;

    .well {
      display: block;

      .logo-container-mobile {
        display: block;
        text-align: center;

        img {
          height: 100px;
          margin-bottom: 20px;
        }
      }

      .carousel-container {
        margin: 0 auto;
        width: 100%;
      }

      .welcome-container {
        padding-top: 10px;
        margin: 0 auto;
        width: 100%;

        .logo-container {
          display: none;
        }
      }
    }
  }

  @include media-query($on-palm) {
    padding: 10px;

    .well {
      padding: 10px;

      .logo-container-mobile {

        img {
          height: 75px;
          margin-bottom: 10px;
        }
      }

      .carousel-container {
        height: 400px;

        .photo-container {
          height: 400px;
        }
      }
    }
  }
}